@font-face {
    font-family: EduQLDHand;
    src: url(../assets/fonts/EduQLDHand-Regular.ttf);
}

@font-face {
    font-family: EduQLDHand;
    src: url(../assets/fonts/EduQLDHand-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
}

html {
    font-size: 10px;
}

body {
    font: 2.4rem EduQLDHand;
    color: #0000c0;
    background: url(../assets/img/roll_bg.jpg);
    background-size: cover;
    background-position: center;
}

header, section {
    display: flex;
    justify-content: center;
}

header {
    height: 14dvh;
}
main {
    height: auto;
    min-height: 86dvh;
}


.content {
    width: 100%;
    max-width: 1920px;
    padding: 0 clamp(64px, 11dvw, 160px);
}

form {
    width: 500px;
    .formdata {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        input[type=text] {
            width: 100%;
            height: 3rem;
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 3px solid #0000c0;
            width: 100%;
            font: 2.4rem EduQLDHand;
            color: #0000c0;
            margin-left: 16px;
        }
    }
    .formsubmit {
        justify-content: flex-end;
        align-items: center;
        input[type=submit] {
            display: flex;
            align-items: center;
            height: 3rem;
            padding: 8px 16px;
            background: #c00000;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}